<!DOCTYPE html>
<html lang="zh_CN">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/admin.css">
		<link rel="stylesheet" href="/static/css/editormd.css">
		<link rel="stylesheet" href="/static/css/codemirror.css">
	</head>
	<body>
		<div class="admin-content">
			<!-- 侧边栏 -->
			<% include admin-sidebar %>
			<!-- 视口 -->
			<ul class="admin-section">
				<!-- 博客 -->
				<li class="admin-section-item" view-port="/blog">
					<div class="blog-header">
					</div>

					<div class="blog-section">
						<table class="artical-list-wrap">
							<thead>
								<tr>
									<th>名称</th>
									<th>一级分类</th>
									<th>二级分类</th>
									<th>三级分类</th>
									<th>创建时间</th>
									<th>更新时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="blog-list"></tbody>
						</table>
					</div>
					<div class="blog-footer">
						<a href="/admin/add">新增</a>
					</div>
				</li>
			</ul>

		</div>
	</body>
</html>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/admin-blog.js"></script>