<% include header %>
		<link rel="stylesheet" href="/static/css/select.css">
		<link rel="stylesheet" href="/static/css/admin.css">
		<link rel="stylesheet" href="/static/css/editormd.css">
		<link rel="stylesheet" href="/static/css/codemirror.css">
	</head>
	<body>
		<div class="admin-content">
			<!-- 侧边栏 -->
			<div class="admin-sidebar">
				<ul class="admin-navigate">
					<li>
						<a href="#/" class="admin-navigate-item">主页</a>
					</li>
					<li>
						<a href="/admin/blog" class="admin-navigate-item">博客</a>
					</li>
					<li>
						<a href="#/dynamic" class="admin-navigate-item">动态</a>
					</li>
					<li>
						<a href="#/attribute" class="admin-navigate-item">属性</a>
					</li>
					<li>
						<a href="/">首页</a>
					</li>
				</ul>
			</div>
			<!-- 视口 -->
			<ul class="admin-section">

				<!-- 主页 -->
				<li class="admin-section-item" view-port="/">
					主页
				</li>

				<!-- 博客 -->
				<li class="admin-section-item" view-port="/blog">
					<div class="blog-header">
					</div>

					<div class="blog-section">
						<!-- <ul id="blog-list"></ul> -->
						<table class="artical-list-wrap">
							<thead>
								<tr>
									<th>名称</th>
									<th>分类</th>
									<th>创建时间</th>
									<th>更新时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="blog-list"></tbody>
						</table>
					</div>
					<div class="blog-footer">
						<a href="/admin/add">新增</a>
					</div>
				</li>

				<!--  动态  -->
				<li class="admin-section-item" view-port="/dynamic">
					动态
				</li>

				<!-- 属性 -->
				<li class="admin-section-item" view-port="/attribute">
					属性
				</li>
				<!-- 编辑 -->
				<li class="admin-section-item" view-port="/edit">
					<div class="edit-section">
						<!-- 新增区域 -->
						<div id="md-add"></div>
					</div>
					<div class="edit-footer">
						<select name="" id="type_NO01">
							<option value="blog">博客</option>
						</select>
						<select name="" id="type_NO02">
							<option value="web_front_end">前端</option>
						</select>
						<select name="" id="type_NO03">
							<option value="framework">框架</option>
						</select>
                        <input type="text" id="add-title" style="border: 1px solid #000;">
						<button id="post-add">提交</button>
						<button id="post-put">修改</button>

						<div class="select-wrap">
							<div class="select-option">
								<h3 class="select-checked">checked</h3>
								<p class="select-container">
									<span>1</span>
									<span>1</span>
									<span>1</span>
									<span>1</span>
								</p>
							</div>	
						</div>
					</div>
					<div id="show"></div>
				</li>
				
			</ul>

		</div>
	</body>
</html>
<!-- 
	<script src="/static/js/editor/editormd.js"></script>

	<script src="/static/js/editor/underscore.min.js"></script>
	<script src="/static/js/editor/raphael.min.js"></script>
	<script src="/static/js/editor/sequence-diagram.min.js"></script>
	<script src="/static/js/editor/flowchart.min.js"></script>
	<script src="/static/js/editor/jquery.flowchart.min.js"></script>

-->

<script src="/static/js/jquery.js"></script>

<script src="/static/js/editor/editormd.js"></script>
<!--<script src="/static/js/editor/codemirror.js"></script>-->
<!--<script src="/static/js/editor/modes.min.js"></script>-->
<!--<script src="/static/js/editor/addons.min.js"></script>-->
<script src="/static/js/editor/marked.min.js"></script>
<script src="/static/js/editor/prettify.min.js"></script>

<script src="/static/js/editor/underscore.min.js"></script>
<script src="/static/js/editor/raphael.min.js"></script>
<script src="/static/js/editor/sequence-diagram.min.js"></script>
<script src="/static/js/editor/flowchart.min.js"></script>
<script src="/static/js/editor/jquery.flowchart.min.js"></script>

<script src="/static/js/admin.js"></script>