<div class="admin-sidebar">
  <ul class="admin-navigate">
    <li>
      <a href="/admin" class="admin-navigate-item">管理</a>
    </li>
    <!--<li>
      <a href="/dynamic" class="admin-navigate-item">动态</a>
    </li>
    <li>
      <a href="/attribute" class="admin-navigate-item">属性</a>
    </li>-->
    <li>
      <a href="/">首页</a>
    </li>
    <li>
        <a href="/image">图片</a>
      </li>
  </ul>
</div>