<aside class="com__cmp-aside">
  <div class="com__cmp-aside_admin">
    <div class="com__cmp-aside_img">

    </div>
    <h4 class="com__cmp-aside_name">xiaoYown</h4>
  </div>
  <ul class="com__cmp-aside_list">
    <a href="/home">
      <li class="com__cmp-aside_item">首页</li>
    </a>
    <a href="/journal">
      <li class="com__cmp-aside_item">琐事</li>
    </a>
    <a href="https://github.com/xiaoYown" target="_balnk">
      <li class="com__cmp-aside_item">Github</li>
    </a>
  </ul>
</aside>