<html lang="zh_CN">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="xiaoYown web 前端 node">
		<meta name="description" content="xiaoYown 奋斗在底层的前端小码农">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="baidu-site-verification" content="ChQ2o4EBnT"/>
		<title><%= title + ' xiaoYown'%></title>
		<link rel="stylesheet" href="/static/vendor/css/base.css">
		<script>
			(function(){
				var bp = document.createElement('script');
				var curProtocol = window.location.protocol.split(':')[0];
				if (curProtocol === 'https') {
					bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
				}
				else {
					bp.src = 'http://push.zhanzhang.baidu.com/push.js';
				}
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(bp, s);
			})();
			</script>