<% include header %>
		<link rel="stylesheet" href="/static/css/home.css">
	</head>
	<body>
		<div class="home-wrap">
			<div class="home-sidebar">
				<div class="admin-introduction"></div>
				<ul class="home-sidebar-list">
					<li class="home-sidebar-item">
						<span class="link">首页</span>
					</li>
					<li class="home-sidebar-item">
						<span class="link">博客</span>
					</li>
					<li class="home-sidebar-item">
						<span class="link">随记</span>
					</li>
					<li class="home-sidebar-item">
						<span class="link">技术栈</span>
					</li>
					<li class="home-sidebar-item">
						<span class="link"><a href="/admin"> 后台系统 </a></span>
					</li>
				</ul>
			</div>
			<div class="home-content">
				<ul class="home-content-main">
					<% for( var i = 0, len = new_list.length; i < len; i++ ) {%>
						<li class="compo-artical">
							<h3 class="compo-artical-title">
								<a href="/artical/<%= new_list[i].id  %>"> <%= new_list[i].title %> </a>
							</h3>
							<div class="compo-artical-time">
								<span>创建时间 : <%= new_list[i].create_time %></span>
								<span>更新时间 : <%= new_list[i].update_time %></span>
							</div>
						</li>
					<% } %>
				</ul>
				
			</div>
		</div>
	</body>
<% include footer %>