<% include header %>
        <link rel="stylesheet" href="/static/vendor/css/index.css">
    </head>
    <body>
        <div class="index-wrap">
            <div class="index-content">
                <h1>xiaoYown</h1>
                <p>
                    <a href="/home" target="_blank">Blog</a>
                </p>
                <p>
                    <a href="https://github.com/xiaoYown" target="_blank">Github</a>
                </p>
                <p>
                    <a href="/lady-entry" target="_blank">LD</a>
                </p>
            </div>
        </div>
    </body>
</html>
<script>
    var border = [204, 204, 204],
        font   = [0, 0, 0];
    var changing = 0;
    var _time = 4000;
    var direct_b = -1,
        direct_f = 1;
    var timer = null;

    var wrap = document.querySelector('.index-content'),
        cue = document.querySelector('h1');

    timer = setInterval(function(){
        _time -= 100;
        if( _time <= 0 ){
            _time = 4000;
            changing = Math.floor(Math.random()*3);
            direct_b = -direct_b;
            direct_f = -direct_f;
        }

        direct_b = border[changing] >= 255 ? -1 : border[changing] <= 0 ? 1 : direct_b;
        direct_f = font[changing]   >= 255 ? -1 : font[changing]   <= 0 ? 1 : direct_f;

        border[changing] += direct_b;
        font[changing] += direct_f;

        wrap.style.borderColor = 'rgb(' + border[0] + ',' + border[1] + ',' + border[2] + ') ' +
                                 'rgb(' + border[0] + ',' + border[1] + ',' + border[2] + ') ' +
                                 'rgb(' + border[2] + ',' + border[1] + ',' + border[0] + ') ' +
                                 'rgb(' + border[2] + ',' + border[1] + ',' + border[0] + ')';
        cue.style.color = 'rgb(' + font[0] + ',' + font[1] + ',' + font[2] + ')';
    }, 100);
</script>