.artical-wrap {
  max-width: 1080px;
  padding: 20px;
  margin: 0 auto; }

.artical-header {
  padding-left: 20px; }
  .artical-header .artical-title {
    line-height: 50px;
    font-size: 26px; }
  .artical-header .artical-tips {
    color: #bbb; }
  .artical-header .artical-time {
    text-align: right; }
    .artical-header .artical-time li {
      display: inline-block;
      vertical-align: top;
      padding-left: 10px; }
