.home__wrap {
  width: 800px;
  margin: 0 auto; }
  .home__wrap-list_title {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0; }
  .home__wrap-list_time {
    padding-bottom: 6px; }
    .home__wrap-list_time span {
      margin-right: 10px; }
