%scroll-bar {
  &::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #d8e1f9;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: rgba(0,0,0,.6);
  }
}
.admin-sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  line-height: 30px;
  text-align: center;
  padding-top: 100px;
  border-right: 1px solid #999;
  background-color: #24292e;
  li{
    height: 40px;
    line-height: 40px;
    transition: all .3s;
    &:hover{
      cursor: pointer;
      background-color: #666;
    } 
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
    } 
  }
}

/* 视口区域 */
li[view-port="/edit"]{
  padding-top: 20px;
}

/* 编辑区域 */
.edit-section{
  min-height: 800px;
}
.edit-footer{
}
.blog-section{
  padding: 30px;
  min-height: 600px;
}
.blog-footer{
  padding: 30px;
}
.admin {
  &-section{
    padding: 0 0 80px 200px;
  }
  &--title {
    padding: 50px 0 30px 0;
    font-size: 36px;
    text-align: center;
  }
  &__btn {
    position: fixed;
    right: 7px;
    bottom: 30px;
    z-index: 10;
  }
  &__btn-bottom {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
    background-color: #24292e;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      color: #24292e;
      background-color: #dedede;
    }
  }
  &__home {
    /* 文章列表展示 */
    &-list{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      border-spacing: 0;
      border-right: 1px solid #ccc;
      .artical-top {
        td {
          color: #fff;
          background-color: #0158af;
        }
      }
    }
    thead{
      color: #fff;
      background-color: #24292e;
    }
    tbody{
      color: #666;
      font-size: 12px;
      tr:nth-child(odd){
        background-color: #eee;
      }
    }
    thead th{
      border-top: 1px solid #ccc;
    }
    th, td{
      padding: 6px 8px;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    span[blog-put],
    span[blog-top],
    span[blog-del]{
      margin-right: 6px;
      cursor: pointer;
    }
    .cancel-top {
      color: #333;
    }
    &-item{
      margin: 0 auto;
      max-width: 1200px;
    }
  }
  // 添加 / 编辑 文章
  &__add {
    padding-top: 71px;
    // 文章标题
    &-title {
      border-bottom: 1px solid #125496;
      font-size: 20px;
      padding: 2px 0;
    }
    &-options {
      width: 90%;
      padding: 30px 0 20px 0;
      margin: 0 auto;
    }
    &-option {
      padding-bottom: 10px;
      color: #125496;
      &_l, &_r {
        display: inline-block;
        vertical-align: top;
        padding-right: 10px;
        line-height: 30px;
      }
      &_l {
        min-width: 50px;
      }
      &_r {
        textarea {
          padding: 10px;
          border: 1px solid #125496;
          margin-top: 7px;
          @extend %scroll-bar;
        }
      }
    }
    // 标签
    &-tips {
      position: relative;
      padding: 5px 30px 0 0;
      height: 30px;
      &_item {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        padding: 0 4px;
        border-radius: 2px;
        margin-right: 6px;
        color: #fff;
        background-color: #125496;
        line-height: 22px;
        cursor: pointer;
        .del {
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
          width: 0;
          background-color: #b21911;
        }
        &:hover {
          padding-right: 0;
          .del {
            width: auto;
            padding: 0 4px;
            margin-left: 4px;
          }
        }
      }
      &_fill {
        position: absolute;
        left: 100%;
        height: 23px;
        width: 100px;
        padding: 0 4px;
        border: 1px solid #125496;
        border-radius: 2px;
        margin-left: 10px;
        display: none;
        &.show {
          display: block;
        }
      }
      .icon-add {
        position: absolute;
        right: 0;
        top: 5px;
        width: 21px;
        height: 21px;
        border: 1px solid #125496;
        border-radius: 2px;
        font-size: 20px;
        line-height: 21px;
        font-weight: bold;
        cursor: pointer;
      }
    }
    // 下拉框
    &-select {
      padding: 3px 6px;
      border: 1px solid #125496;
      margin-top: 5px;
      &:hover {
        font-weight: 700;
      }
      &:focus {
        border: 1px solid #56aaff;
      }
      & option{
        height: 26px;
        line-height: 26px;
        &[selected] {
          font-weight: bold;
        }
      }
      & option:nth-child(even) {
        background-color:#f5f5f5;
      }
    }
  }
}
