@import "./mixin/theme";

@keyframes spread-icon {
  from  { opacity: 0;}
  50%   { opacity: 1;}
  to    { opacity: 0;}
}
html {
  background-color: #f6f6f6;
}
.blog__wrap {
  position: relative;
  &-main {
    max-width: 800px;
  }
  &-list {
    // background-color: rgba($std_main_A, .8);
    padding: 30px 10px 30px 10px;
    li {
      padding: 10px;
      margin-top: 20px;
      background-color: #fff;
      box-shadow: 0 2px 3px 0 #c9c9c9;
    }
    &_title {
      display: block;
      padding: 10px 0;
      font-size: 20px;
      line-height: 30px;
      .icon-label {
        color: $std_main_A;
        font-size: 20px;
      }
    }
    &_time {
      padding-bottom: 6px;
      font-size: 10px;
      line-height: 18px;
      text-align: right;
      span {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
      }
    }
    &_desc {
      color: #d2d2d2;
      margin-left: 40px;
      &:before {
        display: inline;
        content: '拜拜';
        visibility: hidden;
      }
    }
  }
}
