.home__wrap {
  width: 800px;
  margin: 0 auto;
  &-list {
    &_title {
      font-size: 20px;
      line-height: 30px;
      padding: 10px 0;
    }
    &_time {
      padding-bottom: 6px;
      span {
        margin-right: 10px;
      }
    }
  }
}