.image__wrap {
  padding: 60px 20px 20px 20px;

  .icon-folder,
  .icon-add {
    font-size: 30px;
    cursor: pointer;
  }
  &-container {
    position: relative;
  }
  &-tools {
    text-align: right;
  }
  &-tool {
    padding: 2px 6px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-left: 6px;
    cursor: pointer;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  &-del {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    border: 1px solid #000;
    line-height: 20px;
    .editting & {
      display: block;
    }
    input[type="checkbox"] {
      display: none;
      &:checked+.icon-sure {
        display: block;
      }
    }
    .icon-sure {
      position: absolute;
      top: 2px;
      right: 4px;
      display: none;
      font-size: 10px;
    }
  }
  &-folders {

  }
  &-images {
    padding: 30px 40px;
    border-top: 1px solid #000;
    margin-top: 30px;
  }
  &-file {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    text-align: center;
    line-height: 100px;
  }
  &-image {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 200px;
    padding-bottom: 60px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 200px;
    &_item {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      width: 160px;
      height: 160px;
      line-height: 160px;
    }
    &_name,
    &_src {
      position: absolute;
      right: 0;
      left: 0;
    }
    &_name {
      bottom: 30px;
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &_src {
      bottom: 0;
      height: 26px;
      border: 1px solid #ddd;
      border-radius: 3px;
      line-height: 26px;
      text-align: left;
      input {
        position: relative;
        z-index: 1;
        vertical-align: top;
        height: 100%;
        width: 160px;
        padding: 0 6px;
        box-shadow: 0 0 2px 1px #eee inset;
        &:focus {
          box-shadow: 0 0 2px 1px #56aaff;
        }
      }
      .iconfont {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 26px;
        text-align: center;
        background-color: #efefef;
        cursor: pointer;
        &:hover {
          background-color: #dfdfdf;
        }
      }
    }
    img {
      vertical-align: middle;
    }
  }
  #files {
    display: none;
  }
  #progress{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 20px;
    background-color: #000;
    transition: width 0.4s;
  }
  #progressNumber{
    display: none;
    font-size: 30px;
  }
  &-f-title {
    position: absolute;
    right: 0;
    bottom: 6px;
    left: 0;
    line-height: 20px;
  }
  &-footer {
    height: 100px;
  }
  &-upload {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px;
  }
}
